In [1]:
# Initial imports
import pandas as pd
#import hvplot.pandas
from path import Path
#import plotly.express as px
#from sklearn.preprocessing import StandardScaler, MinMaxScaler
#from sklearn.decomposition import PCA
#from sklearn.cluster import KMeans

In [2]:
# Read from players_stats and players_salary from database 


import sys
sys.path.append('../Pre-processing')
from db_connect import engine

#players_stats_df = pd.read_sql('SELECT * FROM PLAYERS_STATS_F',engine)
#players_stats_df.head(10)

#players_salary_df = pd.read_sql('SELECT * FROM PLAYERS_SALARY_F', engine)
#players_salary_df.head(10)

In [3]:
# Read datasets from sample data (CSV File) - This is for temporary purpose till DB is ready and operational


# Read player stats and keeping them in dataframe
path= 'PLAYERS_STATS_F.csv'
players_stats_df=pd.read_csv(path)
players_stats_df=players_stats_df.set_index('player_id')

players_stats_df

,playing_season,playing_position,player_age,team_name,no_of_games_played,no_minutes_played,field_goals_made,field_goals_pctg,three_pointers_made,three_point_pctg,effective_field_goal_pctg,free_thows_made,free_throws_pctg,total_rebounds,no_of_assists,no_of_steals,no_of_blocks,no_of_turnovers,points
player_id,,,,,,,,,,,,,,,,,,,
abrinal01,2016-2017,SG,23,OKC,68,15.5,2.0,0.393,1.4,0.381,0.531,0.6,0.898,1.3,0.6,0.5,0.1,0.5,6.0
acyqu01,2016-2017,PF,26,TOT,38,14.7,1.8,0.412,1.0,0.411,0.521,1.2,0.750,3.0,0.5,0.4,0.4,0.6,5.8
adamsst01,2016-2017,C,23,OKC,80,29.9,4.7,0.571,0.0,0.000,0.571,2.0,0.611,7.7,1.1,1.1,1.0,1.8,11.3
afflaar01,2016-2017,SG,31,SAC,61,25.9,3.0,0.440,1.0,0.411,0.514,1.4,0.892,2.0,1.3,0.3,0.1,0.7,8.4
ajincal01,2016-2017,C,28,NOP,39,15.0,2.3,0.500,0.0,0.000,0.500,0.7,0.725,4.5,0.3,0.5,0.6,0.8,5.3
aldrico01,2016-2017,C,28,MIN,62,8.6,0.7,0.523,0.0,NaN,0.523,0.2,0.682,2.5,0.4,0.4,0.4,0.3,1.7
aldrila01,2016-2017,PF,31,SAS,72,32.4,6.9,0.477,0.3,0.411,0.488,3.1,0.812,7.3,1.9,0.6,1.2,1.4,17.3
allenla01,2016-2017,PF,27,IND,61,14.3,1.3,0.458,0.0,0.000,0.458,0.4,0.697,3.6,0.9,0.3,0.4,0.5,2.9
allento01,2016-2017,SG,35,MEM,71,27.0,3.9,0.461,0.2,0.278,0.473,1.1,0.615,5.5,1.4,1.6,0.4,1.4,9.1
aminual01,2016-2017,PF,26,POR,61,29.1,3.0,0.393,1.1,0.330,0.468,1.6,0.706,7.4,1.6,1.0,0.7,1.5,8.7
anderch01,2016-2017,C,38,CLE,12,9.5,0.8,0.409,0.0,0.000,0.409,0.8,0.714,2.6,0.4,0.4,0.6,0.4,2.3
anderal01,2016-2017,SF,34,LAC,30,10.3,1.0,0.375,0.5,0.318,0.463,0.4,0.750,0.8,0.4,0.1,0.0,0.2,2.9
anderju01,2016-2017,SF,23,TOT,75,16.4,2.5,0.424,0.8,0.299,0.490,1.4,0.791,3.3,0.9,0.5,0.3,0.9,7.1
anderky01,2016-2017,SF,23,SAS,72,14.2,1.3,0.445,0.2,0.375,0.481,0.6,0.789,2.9,1.3,0.7,0.4,0.5,3.4
anderry01,2016-2017,PF,28,HOU,72,29.4,4.5,0.418,2.8,0.403,0.550,1.8,0.860,4.6,0.9,0.4,0.2,0.8,13.6
antetgi01,2016-2017,SF,22,MIL,80,35.6,8.2,0.521,0.6,0.272,0.541,5.9,0.770,8.8,5.4,1.6,1.9,2.9,22.9
anthoca01,2016-2017,SF,32,NYK,74,34.3,8.1,0.433,2.0,0.359,0.488,4.1,0.833,5.9,2.9,0.8,0.5,2.1,22.4
anthojo01,2016-2017,C,34,SAS,19,6.4,0.5,0.625,0.0,NaN,0.625,0.3,0.625,1.6,0.2,0.1,0.3,0.2,1.3
arizatr01,2016-2017,SF,31,HOU,80,34.7,4.1,0.409,2.4,0.344,0.528,1.2,0.738,5.7,2.2,1.8,0.3,0.9,11.7
arthuda01,2016-2017,PF,28,DEN,41,15.6,2.3,0.442,1.3,0.453,0.565,0.5,0.864,2.7,1.0,0.5,0.5,0.9,6.4

In [4]:
player_stats_avg_df= players_stats_df.groupby(['player_id']).mean()[['no_of_games_played','no_minutes_played','field_goals_pctg','three_point_pctg',''\
          'effective_field_goal_pctg','free_throws_pctg','total_rebounds','no_of_assists','no_of_steals','no_of_blocks',\
          'no_of_turnovers','points']]

player_stats_avg_df.head()

# Read player slary and keeping them in dataframe
path= 'PLAYERS_SALARIES_F.csv'
players_salaries_df=pd.read_csv(path)
players_salaries_df=players_salaries_df.set_index('player_id')
players_salaries_df = players_salaries_df.dropna()
#players_salaries_df.count()
players_salaries_avg_df= players_salaries_df.groupby(['player_id']).mean()['player_salary']

players_salaries_avg_df

player_id
abrinal01     5994764.0
acyqu01       1380249.5
adamsst01    12806213.5
afflaar01     6322845.5
ajincal01     4780899.0
aldrila01    21018007.5
allenla01     4000000.0
allento01     3488500.0
aminual01     7500000.0
anderal01     1315448.0
anderch01     1551659.0
anderju01     1546800.0
anderky01     1671892.0
anderry01    19156909.5
antetgi01    12733665.5
anthoca01    25401570.0
anthojo01      663810.0
arizatr01     7613941.5
arthuda01     7767543.5
Name: player_salary, dtype: float64

In [5]:
player_stats_with_salary = player_stats_avg_df.merge(players_salaries_avg_df, left_index=True,right_index=True)
player_stats_with_salary.head()

,no_of_games_played,no_minutes_played,field_goals_pctg,three_point_pctg,effective_field_goal_pctg,free_throws_pctg,total_rebounds,no_of_assists,no_of_steals,no_of_blocks,no_of_turnovers,points,player_salary
player_id,,,,,,,,,,,,,
abrinal01,68,15.5,0.393,0.381,0.531,0.898,1.3,0.6,0.5,0.1,0.5,6.0,5994764.0
acyqu01,38,14.7,0.412,0.411,0.521,0.750,3.0,0.5,0.4,0.4,0.6,5.8,1380249.5
adamsst01,80,29.9,0.571,0.000,0.571,0.611,7.7,1.1,1.1,1.0,1.8,11.3,12806213.5
afflaar01,61,25.9,0.440,0.411,0.514,0.892,2.0,1.3,0.3,0.1,0.7,8.4,6322845.5
ajincal01,39,15.0,0.500,0.000,0.500,0.725,4.5,0.3,0.5,0.6,0.8,5.3,4780899.0

In [6]:
def salary_increased_or_not_labeling(player_id):
    print ('coming inside function')
    player_first_year_salary = players_salaries_df[(players_salaries_df['player_id'] == player_id) & \
                                              (players_salaries_df['playing_season'] == '2016-2017')]['player_salary'].values
    
     
    #print(f'{player_id}\'s first year salary', player_first_year_salary)
    
    
    player_last_year_salary = players_salaries_df[(players_salaries_df['player_id'] == player_id) & \
                                              (players_salaries_df['playing_season'] == '2017-2018')]['player_salary'].values

    #print(f'{player_id}\'s last year salary', player_last_year_salary)

    
    if player_last_year_salary > player_first_year_salary:
        return 1
    else:
        return 0

In [7]:
players_salaries_df = players_salaries_df.reset_index(['player_id'])
players_salaries_df

    player_id playing_season  player_salary
0   abrinal01      2016-2017        5994764
1     acyqu01      2016-2017        1050961
2     acyqu01      2017-2018        1709538
3   adamsst01      2016-2017        3140517
4   adamsst01      2017-2018       22471910
5   afflaar01      2016-2017       12500000
6   afflaar01      2017-2018         145691
7   ajincal01      2016-2017        4600000
8   ajincal01      2017-2018        4961798
9   aldrila01      2016-2017       20575005
10  aldrila01      2017-2018       21461010
11  allenla01      2016-2017        4000000
12  allento01      2016-2017        5505618
13  allento01      2017-2018        1471382
14  aminual01      2016-2017        7680965
15  aminual01      2017-2018        7319035
16  anderch01      2016-2017        1551659
17  anderal01      2016-2017        1315448
18  anderju01      2016-2017        1514160
19  anderju01      2017-2018        1579440
20  anderky01      2016-2017        1192080
21  anderky01      2017-2018        2151704
22  anderry01      2016-2017       18735364
23  anderry01      2017-2018       19578455
24  antetgi01      2016-2017        2995421
25  antetgi01      2017-2018       22471910
26  anthoca01      2016-2017       24559380
27  anthoca01      2017-2018       26243760
28  anthojo01      2016-2017         663810
29  arizatr01      2016-2017        7806971
30  arizatr01      2017-2018        7420912
31  arthuda01      2016-2017        8070175
32  arthuda01      2017-2018        7464912

In [8]:
player_first_year_salary = players_salaries_df[(players_salaries_df['player_id'] == 'acyqu01') & \
                                              (players_salaries_df['playing_season'] == '2016-2017')]['player_salary']
player_first_year_salary[1]

1050961

In [18]:

import warnings
warnings.filterwarnings('ignore')


player_stats_with_salary_aggregated = player_stats_with_salary.reset_index(['player_id'])
player_stats_with_salary_aggregated['salary_increased_yorn'] = player_stats_with_salary_aggregated['player_id'].apply(salary_increased_or_not_labeling)
player_stats_with_salary_forML= player_stats_with_salary_aggregated.set_index(['player_id']).dropna()
player_stats_with_salary_forML


#player_stats_with_salary_aggregated['player_id'].apply(salary_increased_or_not_labeling)

coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function
coming inside function

,no_of_games_played,no_minutes_played,field_goals_pctg,three_point_pctg,effective_field_goal_pctg,free_throws_pctg,total_rebounds,no_of_assists,no_of_steals,no_of_blocks,no_of_turnovers,points,player_salary,salary_increased_yorn
player_id,,,,,,,,,,,,,,
abrinal01,68,15.5,0.393,0.381,0.531,0.898,1.3,0.6,0.5,0.1,0.5,6.0,5994764.0,0
acyqu01,38,14.7,0.412,0.411,0.521,0.750,3.0,0.5,0.4,0.4,0.6,5.8,1380249.5,1
adamsst01,80,29.9,0.571,0.000,0.571,0.611,7.7,1.1,1.1,1.0,1.8,11.3,12806213.5,1
afflaar01,61,25.9,0.440,0.411,0.514,0.892,2.0,1.3,0.3,0.1,0.7,8.4,6322845.5,0
ajincal01,39,15.0,0.500,0.000,0.500,0.725,4.5,0.3,0.5,0.6,0.8,5.3,4780899.0,1
aldrila01,72,32.4,0.477,0.411,0.488,0.812,7.3,1.9,0.6,1.2,1.4,17.3,21018007.5,1
allenla01,61,14.3,0.458,0.000,0.458,0.697,3.6,0.9,0.3,0.4,0.5,2.9,4000000.0,0
allento01,71,27.0,0.461,0.278,0.473,0.615,5.5,1.4,1.6,0.4,1.4,9.1,3488500.0,0
aminual01,61,29.1,0.393,0.330,0.468,0.706,7.4,1.6,1.0,0.7,1.5,8.7,7500000.0,0
anderal01,30,10.3,0.375,0.318,0.463,0.750,0.8,0.4,0.1,0.0,0.2,2.9,1315448.0,0
anderch01,12,9.5,0.409,0.000,0.409,0.714,2.6,0.4,0.4,0.6,0.4,2.3,1551659.0,0
anderju01,75,16.4,0.424,0.299,0.490,0.791,3.3,0.9,0.5,0.3,0.9,7.1,1546800.0,1
anderky01,72,14.2,0.445,0.375,0.481,0.789,2.9,1.3,0.7,0.4,0.5,3.4,1671892.0,1
anderry01,72,29.4,0.418,0.403,0.550,0.860,4.6,0.9,0.4,0.2,0.8,13.6,19156909.5,1
antetgi01,80,35.6,0.521,0.272,0.541,0.770,8.8,5.4,1.6,1.9,2.9,22.9,12733665.5,1
anthoca01,74,34.3,0.433,0.359,0.488,0.833,5.9,2.9,0.8,0.5,2.1,22.4,25401570.0,1
arizatr01,80,34.7,0.409,0.344,0.528,0.738,5.7,2.2,1.8,0.3,0.9,11.7,7613941.5,0
arthuda01,41,15.6,0.442,0.453,0.565,0.864,2.7,1.0,0.5,0.5,0.9,6.4,7767543.5,0

In [19]:
# Create our features
x_cols = [i for i in player_stats_with_salary_forML.columns if i not in ('salary_increased_yorn')]  
X = player_stats_with_salary_forML[x_cols]
X.describe()

y=player_stats_with_salary_forML['salary_increased_yorn']

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
y_test

player_id
allenla01    0
afflaar01    0
anderry01    1
adamsst01    1
antetgi01    1
Name: salary_increased_yorn, dtype: int64

In [25]:

from imblearn.ensemble import BalancedRandomForestClassifier
clf = BalancedRandomForestClassifier(n_estimators=100,max_depth=None, random_state=1)
clf.fit(X_train, y_train)  

y_pred=clf.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

           Prediction  Actual
player_id
allenla01           1       0
afflaar01           0       0
anderry01           1       1
adamsst01           0       1
antetgi01           1       1

In [26]:
# Calculated the balanced accuracy score
# YOUR CODE HERE


from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5833333333333333

In [27]:
# Display the confusion matrix
# YOUR CODE HERE

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1, 1],
       [1, 2]], dtype=int64)