In [1]:
import pandas as pd
import os

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
os.getcwd()

'/Users/dhanaprakashdurairaj/Documents/GitHub/nba-player-analytics/Practice'

In [4]:
# File to Load (Remember to change these)
player_stats_201617_data_to_load = "../Resources/NBA Players Stats 201617.csv"
player_stats_201718_data_to_load = "../Resources/NBA Players Stats 201718.csv"
player_stats_201819_data_to_load = "../Resources/NBA Players Stats 201819.csv"
player_stats_201920_data_to_load = "../Resources/NBA STATs19-20.csv"

player_salary_2019_to_present_data_to_load = "../Resources/NBA_salaries_2019_present.csv"
player_salary_2016_to_2019_data_to_load = "../Resources/nba_stats_salaries_16-19.csv"

print(player_stats_201617_data_to_load)
print(player_stats_201718_data_to_load)
print(player_stats_201819_data_to_load)
print(player_stats_201920_data_to_load)

print(player_salary_2016_to_2019_data_to_load)
print(player_salary_2019_to_present_data_to_load)

../Resources/NBA Players Stats 201617.csv
../Resources/NBA Players Stats 201718.csv
../Resources/NBA Players Stats 201819.csv
../Resources/NBA STATs19-20.csv
../Resources/nba_stats_salaries_16-19.csv
../Resources/NBA_salaries_2019_present.csv

In [5]:
print(os.path.isfile(player_stats_201617_data_to_load))
print(os.path.isfile(player_stats_201718_data_to_load))
print(os.path.isfile(player_stats_201819_data_to_load))
print(os.path.isfile(player_stats_201920_data_to_load))

print(os.path.isfile(player_salary_2016_to_2019_data_to_load))
print(os.path.isfile(player_salary_2019_to_present_data_to_load))

True
True
True
True
True
True

In [7]:
# Read the Player Stat and Salary Data
player_stats_201617_df = pd.read_csv(player_stats_201617_data_to_load)
player_stats_201718_df = pd.read_csv(player_stats_201718_data_to_load)
player_stats_201819_df = pd.read_csv(player_stats_201819_data_to_load)
player_stats_201920_df = pd.read_csv(player_stats_201920_data_to_load)

player_salary_2016_to_2019_df = pd.read_csv(player_salary_2016_to_2019_data_to_load)
player_salary_2019_to_present_df = pd.read_csv(player_salary_2019_to_present_data_to_load)

dataframe_analyzed_df = player_stats_201920_df

In [8]:
dataframe_analyzed_df

,Year,Rk,Player,ID,Pos,Age,Tm,Western Conference,Eastern Conference,Atlantic,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2015-2016,170,A.J. Hammons,hammoaj01,C,24,DAL,1.0,0.0,0.0,...,0.450,0.4,1.3,1.6,0.2,0.0,0.6,0.5,1.0,2.2
1,2014-2015,373,A.J. Price,priceaj01,PG,28,CLE,0.0,1.0,0.0,...,0.667,0.4,1.0,1.4,1.2,0.3,0.0,0.3,0.1,2.0
2,2014-2015,373,A.J. Price,priceaj01,PG,28,IND,0.0,1.0,0.0,...,0.667,0.2,1.2,1.4,2.7,0.4,0.0,1.0,0.9,10.5
3,2011-2012,357,A.J. Price,priceaj01,PG,25,IND,0.0,1.0,0.0,...,0.800,0.3,1.1,1.4,2.0,0.5,0.0,0.7,0.7,3.9
4,2010-2011,339,A.J. Price,priceaj01,PG,24,IND,0.0,1.0,0.0,...,0.667,0.3,1.1,1.4,2.2,0.6,0.0,1.1,1.2,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6275,2014-2015,133,Zoran DragiÄ‡,dragizo01,SG,25,PHO,1.0,0.0,0.0,...,0.667,0.3,0.2,0.5,0.2,0.0,0.0,0.0,0.2,1.0
6276,2014-2015,133,Zoran DragiÄ‡,dragizo01,SG,25,TOT,NaN,NaN,NaN,...,0.600,0.3,0.2,0.5,0.3,0.1,0.0,0.3,0.4,1.8
6277,2010-2011,218,Zydrunas Ilgauskas,ilgauzy01,C,35,MIA,0.0,1.0,0.0,...,0.783,1.5,2.5,4.0,0.4,0.3,0.8,0.7,2.6,5.0
6278,2018-2019,98,Zylan Cheatham,cheatzy01,PF,24,NOP,1.0,0.0,0.0,...,NaN,0.8,1.5,2.3,0.8,0.3,0.3,1.0,2.5,3.0
6279,2019-2020,98,Zylan Cheatham,cheatzy01,PF,24,NOP,1.0,0.0,0.0,...,NaN,0.8,1.5,2.3,0.8,0.3,0.3,1.0,2.5,3.0

In [9]:
dataframe_analyzed_df.head()

,Year,Rk,Player,ID,Pos,Age,Tm,Western Conference,Eastern Conference,Atlantic,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2015-2016,170,A.J. Hammons,hammoaj01,C,24,DAL,1.0,0.0,0.0,...,0.450,0.4,1.3,1.6,0.2,0.0,0.6,0.5,1.0,2.2
1,2014-2015,373,A.J. Price,priceaj01,PG,28,CLE,0.0,1.0,0.0,...,0.667,0.4,1.0,1.4,1.2,0.3,0.0,0.3,0.1,2.0
2,2014-2015,373,A.J. Price,priceaj01,PG,28,IND,0.0,1.0,0.0,...,0.667,0.2,1.2,1.4,2.7,0.4,0.0,1.0,0.9,10.5
3,2011-2012,357,A.J. Price,priceaj01,PG,25,IND,0.0,1.0,0.0,...,0.800,0.3,1.1,1.4,2.0,0.5,0.0,0.7,0.7,3.9
4,2010-2011,339,A.J. Price,priceaj01,PG,24,IND,0.0,1.0,0.0,...,0.667,0.3,1.1,1.4,2.2,0.6,0.0,1.1,1.2,6.5

In [10]:
dataframe_analyzed_df.count()

Year                  6280
Rk                    6280
Player                6280
ID                    6280
Pos                   6280
Age                   6280
Tm                    6280
Western Conference    5654
Eastern Conference    5654
Atlantic              5654
Central               5654
Northwest             5654
Pacific               5654
Southeast             5654
Southwest             5654
G                     6280
GS                    6280
MP                    6280
FG                    6280
FGA                   6280
FG%                   6248
3P                    6280
3PA                   6280
3P%                   5570
2P                    6280
2PA                   6280
2P%                   6209
eFG%                  6248
FT                    6280
FTA                   6280
FT%                   5956
ORB                   6280
DRB                   6280
TRB                   6280
AST                   6280
STL                   6280
BLK                   6280
TOV                   6280
PF                    6280
PTS                   6280
dtype: int64

In [11]:
dataframe_analyzed_df.isnull().sum()

Year                    0
Rk                      0
Player                  0
ID                      0
Pos                     0
Age                     0
Tm                      0
Western Conference    626
Eastern Conference    626
Atlantic              626
Central               626
Northwest             626
Pacific               626
Southeast             626
Southwest             626
G                       0
GS                      0
MP                      0
FG                      0
FGA                     0
FG%                    32
3P                      0
3PA                     0
3P%                   710
2P                      0
2PA                     0
2P%                    71
eFG%                   32
FT                      0
FTA                     0
FT%                   324
ORB                     0
DRB                     0
TRB                     0
AST                     0
STL                     0
BLK                     0
TOV                     0
PF                      0
PTS                     0
dtype: int64

In [12]:
dataframe_analyzed_df.describe()

,Rk,Age,Western Conference,Eastern Conference,Atlantic,Central,Northwest,Pacific,Southeast,Southwest,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,6280.000000,6280.000000,5654.000000,5654.000000,5654.000000,5654.000000,5654.000000,5654.000000,5654.000000,5654.000000,...,5956.000000,6280.000000,6280.000000,6280.000000,6280.000000,6280.000000,6280.000000,6280.000000,6280.000000,6280.000000
mean,250.882325,26.302389,0.501415,0.498585,0.171914,0.162894,0.160417,0.166254,0.163778,0.174744,...,0.729763,0.843583,2.587229,3.428424,1.772548,0.613169,0.383010,1.102484,1.700048,7.985621
std,145.905202,4.131783,0.500042,0.500042,0.377339,0.369301,0.367025,0.372341,0.370107,0.379781,...,0.154567,0.776562,1.772141,2.408501,1.730924,0.420687,0.420728,0.779164,0.780150,5.761258
min,1.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,123.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.661000,0.300000,1.300000,1.800000,0.600000,0.300000,0.100000,0.500000,1.100000,3.600000
50%,249.500000,26.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.758000,0.600000,2.200000,2.900000,1.200000,0.500000,0.300000,0.900000,1.700000,6.600000
75%,376.000000,29.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.828000,1.100000,3.400000,4.600000,2.300000,0.800000,0.500000,1.500000,2.200000,11.200000
max,540.000000,43.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,6.000000,12.000000,18.000000,12.800000,2.500000,6.000000,5.700000,5.000000,36.100000

In [13]:
dataframe_analyzed_df.dtypes

Year                   object
Rk                      int64
Player                 object
ID                     object
Pos                    object
Age                     int64
Tm                     object
Western Conference    float64
Eastern Conference    float64
Atlantic              float64
Central               float64
Northwest             float64
Pacific               float64
Southeast             float64
Southwest             float64
G                       int64
GS                      int64
MP                    float64
FG                    float64
FGA                   float64
FG%                   float64
3P                    float64
3PA                   float64
3P%                   float64
2P                    float64
2PA                   float64
2P%                   float64
eFG%                  float64
FT                    float64
FTA                   float64
FT%                   float64
ORB                   float64
DRB                   float64
TRB                   float64
AST                   float64
STL                   float64
BLK                   float64
TOV                   float64
PF                    float64
PTS                   float64
dtype: object

In [14]:
len(dataframe_analyzed_df["Player"])

6280

In [15]:
len(dataframe_analyzed_df["Player"].unique())

1287

In [21]:
#print (660*3)

In [17]:
len(dataframe_analyzed_df["Year"].unique())

10

In [20]:
dataframe_analyzed_df[dataframe_analyzed_df['Year'] == "2019-2020"]

,Year,Rk,Player,ID,Pos,Age,Tm,Western Conference,Eastern Conference,Atlantic,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
26,2019-2020,178,Aaron Gordon,gordoaa01,PF,24,ORL,0.0,1.0,0.0,...,0.674,1.7,5.9,7.7,3.7,0.8,0.6,1.6,2.0,14.4
37,2019-2020,222,Aaron Holiday,holidaa01,PG,23,IND,0.0,1.0,0.0,...,0.851,0.3,2.0,2.4,3.4,0.8,0.2,1.3,1.8,9.5
42,2019-2020,362,Abdel Nader,naderab01,SF,26,OKC,1.0,0.0,0.0,...,0.773,0.3,1.6,1.8,0.7,0.4,0.4,0.8,1.4,6.3
47,2019-2020,345,Adam Mokoka,mokokad01,SF,21,CHI,0.0,1.0,0.0,...,0.500,0.6,0.3,0.9,0.4,0.4,0.0,0.2,1.5,2.9
49,2019-2020,441,Admiral Schofield,schofad01,PF,22,WAS,0.0,1.0,0.0,...,0.667,0.2,1.2,1.4,0.5,0.2,0.1,0.2,1.5,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6249,2019-2020,370,Zach Norvell,norveza01,SG,22,LAL,1.0,0.0,0.0,...,NaN,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0
6251,2019-2020,370,Zach Norvell,norveza01,SG,22,TOT,NaN,NaN,NaN,...,1.000,0.0,1.2,1.2,0.6,0.4,0.0,0.6,0.8,2.0
6269,2019-2020,458,Zhaire Smith,smithzh01,SF,20,PHI,0.0,1.0,1.0,...,0.500,0.0,0.3,0.3,0.3,0.4,0.0,0.3,0.6,1.1
6273,2019-2020,518,Zion Williamson,willizi01,PF,19,NOP,1.0,0.0,0.0,...,0.640,2.7,3.6,6.3,2.1,0.7,0.4,2.5,1.8,22.5
6279,2019-2020,98,Zylan Cheatham,cheatzy01,PF,24,NOP,1.0,0.0,0.0,...,NaN,0.8,1.5,2.3,0.8,0.3,0.3,1.0,2.5,3.0

In [21]:
dataframe_analyzed_df[dataframe_analyzed_df['Year'] == "2019-2020"].count()

Year                  651
Rk                    651
Player                651
ID                    651
Pos                   651
Age                   651
Tm                    651
Western Conference    591
Eastern Conference    591
Atlantic              591
Central               591
Northwest             591
Pacific               591
Southeast             591
Southwest             591
G                     651
GS                    651
MP                    651
FG                    651
FGA                   651
FG%                   649
3P                    651
3PA                   651
3P%                   616
2P                    651
2PA                   651
2P%                   645
eFG%                  649
FT                    651
FTA                   651
FT%                   618
ORB                   651
DRB                   651
TRB                   651
AST                   651
STL                   651
BLK                   651
TOV                   651
PF                    651
PTS                   651
dtype: int64

In [23]:
dataframe_analyzed_df[dataframe_analyzed_df['Year'] == "2019-2020"].isnull().sum()

Year                   0
Rk                     0
Player                 0
ID                     0
Pos                    0
Age                    0
Tm                     0
Western Conference    60
Eastern Conference    60
Atlantic              60
Central               60
Northwest             60
Pacific               60
Southeast             60
Southwest             60
G                      0
GS                     0
MP                     0
FG                     0
FGA                    0
FG%                    2
3P                     0
3PA                    0
3P%                   35
2P                     0
2PA                    0
2P%                    6
eFG%                   2
FT                     0
FTA                    0
FT%                   33
ORB                    0
DRB                    0
TRB                    0
AST                    0
STL                    0
BLK                    0
TOV                    0
PF                     0
PTS                    0
dtype: int64

In [25]:
dataframe_analyzed_df[dataframe_analyzed_df['Year'] == "2019-2020"]['Player'].count()

651

In [28]:
len(dataframe_analyzed_df[dataframe_analyzed_df['Year'] == "2019-2020"]['Player'].unique())

529