In [9]:
import pandas as pd
import os

In [10]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
os.getcwd()

'/Users/dhanaprakashdurairaj/Documents/GitHub/nba-player-analytics/Practice'

In [12]:
# File to Load (Remember to change these)
player_stats_201617_data_to_load = "../Resources/NBA Players Stats 201617.csv"
player_stats_201718_data_to_load = "../Resources/NBA Players Stats 201718.csv"
player_stats_201819_data_to_load = "../Resources/NBA Players Stats 201819.csv"
player_stats_201920_data_to_load = "../Resources/NBA STATs19-20.csv"

player_salary_2019_to_present_data_to_load = "../Resources/NBA_salaries_2019_present.csv"
player_salary_2016_to_2019_data_to_load = "../Resources/nba_stats_salaries_16-19.csv"

print(player_stats_201617_data_to_load)
print(player_stats_201718_data_to_load)
print(player_stats_201819_data_to_load)
print(player_stats_201920_data_to_load)

print(player_salary_2016_to_2019_data_to_load)
print(player_salary_2019_to_present_data_to_load)

../Resources/NBA Players Stats 201617.csv
../Resources/NBA Players Stats 201718.csv
../Resources/NBA Players Stats 201819.csv
../Resources/NBA STATs19-20.csv
../Resources/nba_stats_salaries_16-19.csv
../Resources/NBA_salaries_2019_present.csv

In [13]:
print(os.path.isfile(player_stats_201617_data_to_load))
print(os.path.isfile(player_stats_201718_data_to_load))
print(os.path.isfile(player_stats_201819_data_to_load))
print(os.path.isfile(player_stats_201920_data_to_load))

print(os.path.isfile(player_salary_2016_to_2019_data_to_load))
print(os.path.isfile(player_salary_2019_to_present_data_to_load))

True
True
True
True
True
True

In [14]:
# Read the Player Stat and Salary Data
player_stats_201617_df = pd.read_csv(player_stats_201617_data_to_load)
player_stats_201718_df = pd.read_csv(player_stats_201718_data_to_load)
player_stats_201819_df = pd.read_csv(player_stats_201819_data_to_load)
player_stats_201920_df = pd.read_csv(player_stats_201920_data_to_load)

player_salary_2016_to_2019_df = pd.read_csv(player_salary_2016_to_2019_data_to_load)
player_salary_2019_to_present_df = pd.read_csv(player_salary_2019_to_present_data_to_load)

dataframe_analyzed_df = player_stats_201718_df

In [15]:
dataframe_analyzed_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines\abrinal01,SG,24,OKC,75,8,15.1,1.5,3.9,...,0.848,0.3,1.2,1.5,0.4,0.5,0.1,0.3,1.7,4.7
1,2,Quincy Acy\acyqu01,PF,27,BRK,70,8,19.4,1.9,5.2,...,0.817,0.6,3.1,3.7,0.8,0.5,0.4,0.9,2.1,5.9
2,3,Steven Adams\adamsst01,C,24,OKC,76,76,32.7,5.9,9.4,...,0.559,5.1,4.0,9.0,1.2,1.2,1.0,1.7,2.8,13.9
3,4,Bam Adebayo\adebaba01,C,20,MIA,69,19,19.8,2.5,4.9,...,0.721,1.7,3.8,5.5,1.5,0.5,0.6,1.0,2.0,6.9
4,5,Arron Afflalo\afflaar01,SG,32,ORL,53,3,12.9,1.2,3.1,...,0.846,0.1,1.2,1.2,0.6,0.1,0.2,0.4,1.1,3.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,537,Tyler Zeller\zellety01,C,28,BRK,42,33,16.7,3.0,5.5,...,0.667,1.5,3.1,4.6,0.7,0.2,0.5,0.8,1.9,7.1
660,537,Tyler Zeller\zellety01,C,28,MIL,24,1,16.9,2.6,4.4,...,0.895,2.0,2.7,4.6,0.8,0.3,0.6,0.5,2.0,5.9
661,538,Paul Zipser\zipsepa01,SF,23,CHI,54,12,15.3,1.5,4.3,...,0.760,0.2,2.2,2.4,0.9,0.4,0.3,0.8,1.6,4.0
662,539,Ante Žižić\zizican01,C,21,CLE,32,2,6.7,1.5,2.1,...,0.724,0.8,1.1,1.9,0.2,0.1,0.4,0.3,0.9,3.7
663,540,Ivica Zubac\zubaciv01,C,20,LAL,43,0,9.5,1.4,2.8,...,0.765,1.0,1.8,2.9,0.6,0.2,0.3,0.6,1.1,3.7

In [16]:
dataframe_analyzed_df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines\abrinal01,SG,24,OKC,75,8,15.1,1.5,3.9,...,0.848,0.3,1.2,1.5,0.4,0.5,0.1,0.3,1.7,4.7
1,2,Quincy Acy\acyqu01,PF,27,BRK,70,8,19.4,1.9,5.2,...,0.817,0.6,3.1,3.7,0.8,0.5,0.4,0.9,2.1,5.9
2,3,Steven Adams\adamsst01,C,24,OKC,76,76,32.7,5.9,9.4,...,0.559,5.1,4.0,9.0,1.2,1.2,1.0,1.7,2.8,13.9
3,4,Bam Adebayo\adebaba01,C,20,MIA,69,19,19.8,2.5,4.9,...,0.721,1.7,3.8,5.5,1.5,0.5,0.6,1.0,2.0,6.9
4,5,Arron Afflalo\afflaar01,SG,32,ORL,53,3,12.9,1.2,3.1,...,0.846,0.1,1.2,1.2,0.6,0.1,0.2,0.4,1.1,3.4

In [17]:
dataframe_analyzed_df.count()

Rk        664
Player    664
Pos       664
Age       664
Tm        664
G         664
GS        664
MP        664
FG        664
FGA       664
FG%       660
3P        664
3PA       664
3P%       599
2P        664
2PA       664
2P%       646
eFG%      660
FT        664
FTA       664
FT%       606
ORB       664
DRB       664
TRB       664
AST       664
STL       664
BLK       664
TOV       664
PF        664
PTS       664
dtype: int64

In [18]:
dataframe_analyzed_df.isnull().sum()

Rk         0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        4
3P         0
3PA        0
3P%       65
2P         0
2PA        0
2P%       18
eFG%       4
FT         0
FTA        0
FT%       58
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

In [19]:
dataframe_analyzed_df.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,660.000000,664.00000,664.000000,...,606.000000,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000
mean,270.823795,26.195783,43.281627,19.707831,18.636898,2.942018,6.539458,0.441359,0.77756,2.217922,...,0.741058,0.750301,2.511596,3.259940,1.744578,0.600000,0.349849,1.054066,1.583735,7.894880
std,154.830333,4.127045,27.742523,26.615675,9.306739,2.098904,4.472049,0.122191,0.77679,2.001853,...,0.147869,0.706467,1.778666,2.346756,1.672374,0.441784,0.367208,0.800480,0.773334,5.799436
min,1.000000,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,139.000000,23.000000,17.000000,0.000000,11.300000,1.400000,3.100000,0.395000,0.10000,0.500000,...,0.667000,0.300000,1.200000,1.700000,0.600000,0.300000,0.100000,0.500000,1.000000,3.575000
50%,266.500000,26.000000,46.000000,4.000000,18.600000,2.500000,5.500000,0.440000,0.60000,1.700000,...,0.768000,0.500000,2.200000,2.800000,1.200000,0.500000,0.300000,0.900000,1.600000,6.550000
75%,401.250000,29.000000,71.000000,35.000000,26.100000,4.200000,9.300000,0.493000,1.30000,3.500000,...,0.833000,1.000000,3.300000,4.400000,2.300000,0.800000,0.500000,1.400000,2.100000,11.400000
max,540.000000,41.000000,82.000000,82.000000,36.900000,10.500000,21.100000,1.000000,4.20000,10.000000,...,1.000000,5.100000,10.900000,16.000000,10.300000,2.400000,2.600000,5.000000,4.000000,30.400000

In [20]:
dataframe_analyzed_df.dtypes

Rk          int64
Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

In [21]:
len(dataframe_analyzed_df["Player"])

664

In [22]:
len(dataframe_analyzed_df["Player"].unique())

540

In [23]:
#print (660*3)

In [24]:
len(dataframe_analyzed_df["Player_ID","Season"].unique())

KeyError: ('Player_ID', 'Season')