In [5]:
import pandas as pd
import os

In [6]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
os.getcwd()

'/Users/dhanaprakashdurairaj/Documents/GitHub/nba-player-analytics/Practice'

In [8]:
# File to Load (Remember to change these)
player_stats_201617_data_to_load = "../Resources/NBA Players Stats 201617.csv"
player_stats_201718_data_to_load = "../Resources/NBA Players Stats 201718.csv"
player_stats_201819_data_to_load = "../Resources/NBA Players Stats 201819.csv"
player_stats_201920_data_to_load = "../Resources/NBA STATs19-20.csv"

player_salary_2019_to_present_data_to_load = "../Resources/NBA_salaries_2019_present.csv"
player_salary_2016_to_2019_data_to_load = "../Resources/nba_stats_salaries_16-19.csv"

print(player_stats_201617_data_to_load)
print(player_stats_201718_data_to_load)
print(player_stats_201819_data_to_load)
print(player_stats_201920_data_to_load)

print(player_salary_2016_to_2019_data_to_load)
print(player_salary_2019_to_present_data_to_load)

../Resources/NBA Players Stats 201617.csv
../Resources/NBA Players Stats 201718.csv
../Resources/NBA Players Stats 201819.csv
../Resources/NBA STATs19-20.csv
../Resources/nba_stats_salaries_16-19.csv
../Resources/NBA_salaries_2019_present.csv

In [9]:
print(os.path.isfile(player_stats_201617_data_to_load))
print(os.path.isfile(player_stats_201718_data_to_load))
print(os.path.isfile(player_stats_201819_data_to_load))
print(os.path.isfile(player_stats_201920_data_to_load))

print(os.path.isfile(player_salary_2016_to_2019_data_to_load))
print(os.path.isfile(player_salary_2019_to_present_data_to_load))

True
True
True
True
True
True

In [10]:
# Read the Player Stat and Salary Data
player_stats_201617_df = pd.read_csv(player_stats_201617_data_to_load)
player_stats_201718_df = pd.read_csv(player_stats_201718_data_to_load)
player_stats_201819_df = pd.read_csv(player_stats_201819_data_to_load)
player_stats_201920_df = pd.read_csv(player_stats_201920_data_to_load)

player_salary_2016_to_2019_df = pd.read_csv(player_salary_2016_to_2019_data_to_load)
player_salary_2019_to_present_df = pd.read_csv(player_salary_2019_to_present_data_to_load)

dataframe_analyzed_df = player_salary_2019_to_present_df

In [11]:
dataframe_analyzed_df

,Rk,Player,Tm,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,Signed Using,Guaranteed
0,1,Stephen Curry\curryst01,GSW,40231758.00 $,43006362.00 $,45780966.00 $,NaN,NaN,NaN,Bird Rights,129019086.00 $
1,2,Chris Paul\paulch01,OKC,38506482.00 $,41358814.00 $,44211146.00 $,NaN,NaN,NaN,Bird Rights,79865296.00 $
2,3,Russell Westbrook\westbru01,HOU,38178000.00 $,41006000.00 $,43848000.00 $,46662000.00 $,NaN,NaN,Bird Rights,123032000.00 $
3,4,John Wall\walljo01,WAS,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $
4,5,James Harden\hardeja01,HOU,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $
...,...,...,...,...,...,...,...,...,...,...,...
563,564,William Howard\howarwi01,UTA,50000.00 $,NaN,NaN,NaN,NaN,NaN,NaN,50000.00 $
564,565,Isaiah Taylor\taylois01,TOR,50000.00 $,NaN,NaN,NaN,NaN,NaN,NaN,50000.00 $
565,566,Tyler Lydon\lydonty01,SAC,50000.00 $,NaN,NaN,NaN,NaN,NaN,NaN,50000.00 $
566,567,Hollis Thompson\thompho01,SAC,50000.00 $,NaN,NaN,NaN,NaN,NaN,NaN,50000.00 $
567,568,Tyler Ulis\ulisty01,SAC,50000.00 $,NaN,NaN,NaN,NaN,NaN,NaN,50000.00 $

In [12]:
dataframe_analyzed_df.head()

,Rk,Player,Tm,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,Signed Using,Guaranteed
0,1,Stephen Curry\curryst01,GSW,40231758.00 $,43006362.00 $,45780966.00 $,NaN,NaN,NaN,Bird Rights,129019086.00 $
1,2,Chris Paul\paulch01,OKC,38506482.00 $,41358814.00 $,44211146.00 $,NaN,NaN,NaN,Bird Rights,79865296.00 $
2,3,Russell Westbrook\westbru01,HOU,38178000.00 $,41006000.00 $,43848000.00 $,46662000.00 $,NaN,NaN,Bird Rights,123032000.00 $
3,4,John Wall\walljo01,WAS,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $
4,5,James Harden\hardeja01,HOU,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $

In [13]:
dataframe_analyzed_df.count()

Rk              568
Player          568
Tm              568
2019-20         568
2020-21         349
2021-22         206
2022-23          96
2023-24          21
2024-25           3
Signed Using    455
Guaranteed      568
dtype: int64

In [14]:
dataframe_analyzed_df.isnull().sum()

Rk                0
Player            0
Tm                0
2019-20           0
2020-21         219
2021-22         362
2022-23         472
2023-24         547
2024-25         565
Signed Using    113
Guaranteed        0
dtype: int64

In [15]:
dataframe_analyzed_df.describe()

               Rk
count  568.000000
mean   284.500000
std    164.111751
min      1.000000
25%    142.750000
50%    284.500000
75%    426.250000
max    568.000000

In [18]:
dataframe_analyzed_df.dtypes

Rk               int64
Player          object
Tm              object
2019-20         object
2020-21         object
2021-22         object
2022-23         object
2023-24         object
2024-25         object
Signed Using    object
Guaranteed      object
dtype: object

In [19]:
len(dataframe_analyzed_df["Player"])

568

In [20]:
len(dataframe_analyzed_df["Player"].unique())

526

In [21]:
#print (660*3)

In [22]:
len(dataframe_analyzed_df["Player_ID","Season"].unique())

KeyError: ('Player_ID', 'Season')