In [14]:
import pandas as pd
import os

In [15]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

import sys
sys.path.append('../')
from db_connect import engine

In [16]:
os.getcwd()

'C:\\Asit\\Personal\\Berkley BootCamp\\Module-20 Project\\nba-player-analytics\\Pre-processing\\preprocessing_data'

In [17]:
# File to Load (Remember to change these)
player_stats_allyears_data_to_load = "../../Resources/PreprocessedDataFiles/NBAPlayersStatsAllYears.csv"
player_salary_allyears_data_to_load = "../../Resources/PreprocessedDataFiles/NBAPlayersSalaryAllYears.csv"

print(player_stats_allyears_data_to_load)
print(player_salary_allyears_data_to_load)

../../Resources/PreprocessedDataFiles/NBAPlayersStatsAllYears.csv
../../Resources/PreprocessedDataFiles/NBAPlayersSalaryAllYears.csv

In [ ]:
print(os.path.isfile(player_stats_allyears_data_to_load))
print(os.path.isfile(player_salary_allyears_data_to_load))

True
True

In [ ]:
# Read the Player Stat and Salary Data
player_stats_allyears_df = pd.read_csv(player_stats_allyears_data_to_load)
player_salary_allyears_df = pd.read_csv(player_salary_allyears_data_to_load)
#player_stats_allyears_df.columns

player_stats_allyears_df.count()

Unnamed: 0                   2085
Unnamed: 0.1                 2085
player_id                    2085
playing_season               2085
playing_position             2085
playing_age                  2085
team_name                    2085
no_of_games_played           2085
no_minutes_played            2085
field_goals_made             2085
field_goals_pctg             2085
three_pointers_made          2085
three_point_pctg             2085
effective_field_goal_pctg    2085
free_thows_made              2085
free_throws_pctg             2085
total_rebounds               2085
no_of_assists                2085
no_of_steals                 2085
no_of_blocks                 2085
no_of_turnovers              2085
points                       2085
dtype: int64

In [7]:
#player_stats_allyears_df = player_stats_allyears_df.dropna()
#player_stats_allyears_df.head(4)

In [ ]:
# View Sats Dataframe
player_stats_allyears_df = player_stats_allyears_df [['player_id', 'playing_season',
       'playing_position', 'playing_age', 'team_name', 'no_of_games_played',
       'no_minutes_played', 'field_goals_made', 'field_goals_pctg',
       'three_pointers_made', 'three_point_pctg', 'effective_field_goal_pctg',
       'free_thows_made', 'free_throws_pctg', 'total_rebounds',
       'no_of_assists', 'no_of_steals', 'no_of_blocks', 'no_of_turnovers',
       'points']]
                                                      
     #'assist_to_turnover_ratio']]
player_stats_allyears_df.head(10)

for idx,rows in player_stats_allyears_df.iterrows():
    player_id = rows[0]
    playing_season = rows[1]
    position = rows[2]
    age = rows[3]
    team = rows[4]
    games_played = rows[5]
    minutes_played = rows[6]
    field_goals_made = rows[7]
    field_goals_percentage=rows[8]
    three_points_made =rows[9]
    three_points_attempted =rows[10]
    three_point_percentage =rows[11]
    effective_field_goal_percentage =rows[12]
    free_throw_percentage =rows[13]
    total_rebounds = rows[14]
    assists = rows[15]
    steals = rows[16]
    blocks = rows[17]
    turnovers = rows[18]
    points = rows[19]
    assist_to_turnover_ratio =1.0
    
    if (whether_player_played_inall_seasons(player_id) == True):
        sql_query =  f'INSERT INTO PLAYERS_STATS_F VALUES(\'{player_id}\',{playing_season},\'{position}\',{age},\'{team}\',{games_played},{minutes_played},{field_goals_made},\
            {field_goals_percentage},{three_points_made},{three_points_attempted},{three_point_percentage},{effective_field_goal_percentage},{free_throw_percentage},{total_rebounds},\
            {assists},{steals},{blocks},{turnovers},{points},{assist_to_turnover_ratio});'
            #print(player_id) 
        engine.execute(sql_query)
    else:
        continue

In [11]:
# View Salary Dataframe
player_salary_allyears_df

      Unnamed: 0  Unnamed: 0.1  player_id  playing_season      salary
0              0             0  hammoaj01            2016         0.0
1              1             1  brookaa01            2016   2700000.0
2              2             2  gordoaa01            2016   4351320.0
3              3             3  paynead01            2016   2022240.0
4              4             4  aminual01            2016   7680965.0
...          ...           ...        ...             ...         ...
1929         521           521  youngtr01            2019   6273000.0
1930         522           522  zelleco01            2019  14471910.0
1931         523           523  zellety01            2019    245686.0
1932         524           524  zizican01            2019   2281800.0
1933         525           525  zubaciv01            2019   6481482.0

[1934 rows x 5 columns]

In [ ]:
player_salary_allyears_df

      Unnamed: 0  Unnamed: 0.1  player_id  playing_season      salary
0              0             0  hammoaj01            2016         0.0
1              1             1  brookaa01            2016   2700000.0
2              2             2  gordoaa01            2016   4351320.0
3              3             3  paynead01            2016   2022240.0
4              4             4  aminual01            2016   7680965.0
...          ...           ...        ...             ...         ...
1929         521           521  youngtr01            2019   6273000.0
1930         522           522  zelleco01            2019  14471910.0
1931         523           523  zellety01            2019    245686.0
1932         524           524  zizican01            2019   2281800.0
1933         525           525  zubaciv01            2019   6481482.0

[1934 rows x 5 columns]

In [ ]:
player_salary_allyears_df = player_salary_allyears_df [['player_id', 'playing_season',
       'salary']]
player_salary_allyears_df.head(10)
for idx,rows in player_salary_allyears_df.iterrows():
    player_id = rows[0]
    playing_season = rows[1]
    salary = rows[2]
    if (whether_player_played_inall_seasons(player_id) == True):
        sql_query_to_insert_player_salary_info = f'INSERT INTO PLAYERS_SALARY_F VALUES(\'{player_id}\',{playing_season},\
               {salary});'
        engine.execute(sql_query_to_insert_player_salary_info)
    else:
        continue